@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

:root {
  --font-family-main: 'Poppins', sans-serif;
  --background-color: black;
  --red: #de0000;
  --max-width-pc: 1000px;
  --heart-size: 70px;
  --frames: 62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-main);
}

body {
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

h2 {
  font-size: 50px;
}

h4 {
  font-weight: 400;
  font-size: 20px;
}

/* -------------------- Nav ---------------- */

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0 60px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.816);
  z-index: 5;
}

nav > div {
  justify-content: space-between;
  display: flex;
  width: 100%;
  max-width: var(--max-width-pc);
}

nav img {
  width: 70px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 50px;
  letter-spacing: 2px;
}

nav li {
  font-size: 14px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

nav ul .selected {
  font-weight: 600;
  background-color: var(--red);
  padding: 5px 20px;
  border-radius: 30px;
}

/* -------------------- Footer ---------------- */

footer {
  padding: 1rem 3rem;
  display: block;
  color: white;
  margin-top: auto;
  background-color: #1b1b1b;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.social-icon-and-name {
  display: flex;
  align-items: center;
}

.social-icon-and-name ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-inline: 1rem;
}

.license {
  font-size: small;
  font-weight: 300;
  color: #b8b8b8;
}

.cafe-text {
  color: #b8b8b8;
}

/* -------------------- Gallery ---------------- */

.gallery {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.gallery::after {
  content: '';
  position: absolute;
  background-image: url('./assets/chilli.png');
  background-position: center;
  background-size: cover;
  width: 150px;
  aspect-ratio: 1/2;
  top: 20%;
  left: -50px;
  z-index: -2;
}

.gallery::before {
  content: '';
  position: absolute;
  background-image: url('./assets/tomato.png');
  background-position: center;
  background-size: cover;
  width: 160px;
  aspect-ratio: 1/1;
  bottom: 30%;
  right: -60px;
  z-index: -2;
}

.gallery-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: var(--max-width-pc);
}

.gallery-top .inputContainer {
  border: 2px solid white;
  height: max-content;
  font-size: 16px;
  border-radius: 50px;
  padding: 5px 15px;
  position: relative;
}

.gallery-top input {
  background-color: var(--background-color);
  outline: none;
  border: none;
  color: white;
}

.gallery-top input::placeholder {
  color: rgba(255, 255, 255, 0.728);
}

.gallery-top .inputContainer::after {
  content: '';
  position: absolute;
  background-color: white;
  width: 2px;
  height: 20px;
  right: 0;
  bottom: -15px;
  transform: rotateZ(-45deg);
}

.gallery-container {
  width: 80%;
  max-width: var(--max-width-pc);
  margin-bottom: 50px;
  position: relative;
}

.gallery-container > h4 {
  margin-bottom: 70px;
}

.items {
  display: flex;
  column-gap: 20px;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 40vh;
}

.items > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  max-width: 200px;
  min-width: 170px;
  height: 400px;
  position: relative;
  color: black;
  text-align: center;
}

.items > li .itemName {
  max-height: 60px;
  max-width: 90%;
  overflow: hidden;
}

.items > li .itemName p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.items > li::after {
  border-radius: 7px;
  position: absolute;
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: 85%;
  bottom: 0;
  content: '';
  z-index: -1;
}

.items li img {
  width: 120px;
  height: 120px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 20px black;
  margin-bottom: 10px;
}

.tags-container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.tags-container li {
  width: max-content;
  margin: 5px;
  padding: 2px 10px;
  background-color: var(--red);
  color: white;
  border-radius: 30px;
}

.line {
  width: 90%;
  height: 2px;
  background-color: #1b1b1b14;
  margin: 10px 0;
  margin-top: auto;
}

.interactions {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--red);
  justify-content: space-between;
  padding-right: 10px;
}

.like-count {
  position: absolute;
  left: calc(var(--heart-size) - 15px);
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.pagination li {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
}

.social-icon-and-name ul li {
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
}

nav li:hover {
  transform: scale(1.1);
}

.pagination li:hover {
  background-color: rgba(255, 255, 255, 0.407);
}

.pagination li:nth-last-child(1) {
  border-radius: 0 8px 8px 0;
}

.pagination li:nth-child(1) {
  border-radius: 8px 0 0 8px;
}

.pagination .selectedPage {
  pointer-events: none;
  background-color: white;
  color: black;
}

/* ------------------------------ Like button ------------ */
.like {
  cursor: pointer;
}

.hearth {
  background-image: url('https://assets.codepen.io/23500/Hashflag-AppleEvent.svg');
  background-size: calc(var(--heart-size) * var(--frames)) var(--heart-size);
  background-repeat: no-repeat;
  background-position-x: calc(var(--heart-size) * (var(--frames) * -1 + 1));
  background-position-y: calc(var(--heart-size) * 0.02);
  width: var(--heart-size);
  height: var(--heart-size);
  transition: 0.3s ease-in-out;
}

.hearth:hover {
  transform: scale(1.1);
}

input:checked + .hearth {
  animation: like 1s steps(calc(var(--frames) - 3));
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: calc(var(--heart-size) * (var(--frames) * -1 + 3));
  }
}
